<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :login, 'Username' %>
    <%= f.text_field :login, required: true, maxlength: 15, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, class: "form-control", required: true %>
    <%# <%= f.password_field :password_digest, class: "form-control", required: true, pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*', title: 'Password must contain atleast one uppercase, lowercase and number' %> 
  </div>

  <div class="form-group">
    <%= f.submit "Login", class: 'btn btn-dark btn-block btn-lg' %>
  </div>
<% end %>

